includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
  level: 9
  paths:
    - app
    - database
    - resources
    - routes
    - tests

  excludePaths:
    - app/Http/Controllers/Auth/*
    - tests/Feature/Auth/*
    - app/Http/Requests/Auth/LoginRequest.php
    - database/migrations/2022_09_13_100406_create_permission_tables.php
    - app/Console/Commands/CheckSslCommand.php

  checkMissingIterableValueType: false
  checkModelProperties: true
  checkOctaneCompatibility: true
  checkGenericClassInNonGenericObjectType: false



